*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: black;
}
header img{
    width: 318px;
    height: 79px;
    object-fit: cover;
    padding-top: 15px;
}
main h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.navigation li{
    margin-left: 120px;
    margin-top: 30px;
}