*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: black;
}
header img{
    width: 318px;
    height: 79px;
    object-fit: cover;
    margin-left: 90px;
    padding-top: 15px;
}
.name-server{
    color: #fff;
    font-size: 5em;
}
.container{
    position: relative;
    background-image: url("image.png");
    height: 600px;
    background-size: cover;
}
.head-info{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: aqua; */
}
.container p{
    /* position: absolute;
     top: 60%;
     left: 50%;
    transform: translate(-50%, -50%); */
    color: #fff;
    font-size: 30px;
}
.links{
    margin-top: 30px;
}
.links a{
    display: inline-block;
}
.one-link{
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    background: green;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
}
.two-link{
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    background: blue;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
.info{
    margin: auto;
    font-size: 0px;
    width: 90%;
    max-width: 860px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text{
    display: inline-block;
    width: 50%;
    /* background-color: aqua; */
    vertical-align: middle;
    padding-right: 20px;
}
.text h1{
    font-size: 40px;
    /* margin-left: calc(50% - 30px); */
    color: #fff;
}
.text p{
    font-size: 15px;
    margin-top: 30px;
    color: #fff;
    /* margin-left: calc(50% - 30px); */
}
.minecraft{
    vertical-align: middle;
    width: 50%;

    /* object-position: left; */
    /* float: right; */
    /* margin-right: 60px; */
}
footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer p{
    color: #fff;
    margin-bottom: 10px;
}